repositories:
  - name: traefik
    url: "https://traefik.github.io/charts"
  - name: tailscale
    url: "https://pkgs.tailscale.com/helmcharts"
  - name: cert-manager
    url: "https://charts.jetstack.io"
  - name: rancher
    url: "https://releases.rancher.com/server-charts/stable"
  - name: open-webui
    url: "https://helm.openwebui.com/"
  - name: cnpg
    url: "https://cloudnative-pg.github.io/charts"
---

environments: 
  luna:
    secrets:
      - environments/luna/secrets.yaml
    values:
      - tailscale:
          enabled: true
      - rancher:
          hostname: rancher.tailca3979.ts.net
          replicas: 1
          ingress:
            enabled: true
            extraAnnotations:
              tailscale.com/proxy-group: ingress-proxies
            ingressClassName: tailscale
      - openwebui:
          hostname: openwebui.tailca3979.ts.net
          ingress:
            enabled: true
            annotations:
              tailscale.com/proxy-group: ingress-proxies
            tls: true
            class: tailscale
          openaiBaseApiUrls:
            - "https://inference.do-ai.run/v1/"
  localhost:
    secrets:
      - environments/localhost/secrets.yaml
    values:
      - tailscale:
          enabled: false
      - rancher:
          hostname: rancher.localhost
          replicas: 1
          ingress:
            enabled: true
            extraAnnotations: {}
            ingressClassName: ""
      - openwebui:
          hostname: openwebui.localhost
          ingress:
            enabled: true
            annotations: {}
            tls: false
            class: ""
          openaiBaseApiUrls:
            - "https://inference.do-ai.run/v1/"
        

---



releases:
  - name: tailscale
    namespace: tailscale
    version: "v1.98.9"
    chart: tailscale/tailscale-operator
    createNamespace: true
    condition: tailscale.enabled
    values:
      - oauth:
          clientId: {{ .Values.tailscaleClientId | quote }}
          clientSecret: {{ .Values.tailscaleClientSecret | quote }}
    wait: true
  - name: tailscale-proxy-group
    namespace: tailscale
    chart: charts/tailscale-proxy-group
    condition: tailscale.enabled
    wait: true
  - name: cert-manager
    namespace: cert-manager
    chart: jetstack/cert-manager
    version: "v1.20.2"
    createNamespace: true
    values:
      - installCRDs: true
    wait: true
  - name: rancher
    namespace: cattle-system
    chart: rancher/rancher
    version: "v2.14.2"
    createNamespace: true
    values:
      - bootstrapPassword: {{ .Values.rancherBootstrapPassword | quote }}
        hostname: {{ .Values.rancher.hostname | quote }}
        replicas: {{ .Values.rancher.replicas }}
        ingress:
          enabled: {{ .Values.rancher.ingress.enabled }}
          extraAnnotations: {{ .Values.rancher.ingress.extraAnnotations | toYaml | nindent 12 }}
          ingressClassName: {{ .Values.rancher.ingress.ingressClassName | quote }}
  - name: cnpg
    namespace: cnpg-system
    createNamespace: true
    version: "0.29.0"
    chart: cnpg/cloudnative-pg
  - name: openwebui-extras
    namespace: openwebui
    chart: charts/openwebui-extras
    createNamespace: true
    version: "0.1.0"
    values:
      - openwebui:
          openaiApiKeys: {{ .Values.openwebui.openaiApiKeys | toYaml | nindent 12 }}
  
  - name: openwebui
    namespace: openwebui
    chart: open-webui/open-webui
    createNamespace: true
    version: 15.2.0
    values:
      - ollama:
          enabled: false
      - pipelines:
          enabled: false
      - ingress:
          enabled: true
          host: {{ .Values.openwebui.hostname | quote }}
          class: {{ .Values.openwebui.ingress.class | quote }}
          annotations: {{ .Values.openwebui.ingress.annotations | toYaml | nindent 12 }}
          tls: {{ .Values.openwebui.ingress.tls }}
      - openaiBaseApiUrls:
           {{ .Values.openwebui.openaiBaseApiUrls | toYaml | nindent 12 }}
      - openaiApiKeysExistingSecret: openwebui-openai-api-keys
      - openaiApiKeysExistingSecretKey: open-ai-keys
      - extraEnvVars:
          - name: DATABASE_TYPE
            value: postgresql
          - name: DATABASE_USER
            valueFrom:
              secretKeyRef:
                name: openwebui-extras-cluster-app
                key: user
          - name: DATABASE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: openwebui-extras-cluster-app
                key: password
          - name: DATABASE_HOST
            value: openwebui-extras-cluster-rw
          - name: DATABASE_PORT
            value: "5432"
          - name: DATABASE_NAME
            valueFrom:
              secretKeyRef:
                name: openwebui-extras-cluster-app
                key: dbname
